<html lang="te" dir="ltr">
    <head>
        <meta charset="utf-8"> 
        <style>
             .text{
                    text-align: center;
                    margin-top: 30px;
                }
                .img{
                    margin-left: 40%;
                    margin-top: 30px;
                }
            .align-left{
                float:left;
                background-color: blue;
                width: 100px;
                height:50px;
            }
            .align-right{
                float:right;
                background-color: green;
                width: 100px;
                height:50px;
            }
        </style>
    </head>
    <body>
        <div class="text">
            <h2>{{english_txt}}</h2>
        </div>
        <div class="img">
            <img src ="/{{image}}" width ="340" height="250">
        </div>
        <div class="text">
            <center><h3>{{telugu_txt}}</h3></center>
        </div>
        <a href="{{previous_page_url}}">
            <button class="align-left">Previous</button>
        </a>
        <a href="{{next_page_url}}">
            <button class="align-right">Next</button>
        </a>
    </body>
</html>